<!DOCTYPE html>
<html>

{% block content %}
    <h1>{% block title %} Calcul en cours : {% endblock %}</h1>
    {% for calcul in calculs %}
        <div>ID : {{ calcul['id'] }}</div>
        <div>Calcul : {{ calcul['calcul'] }}</div>
        <div>Resultat : {{ calcul['resultat'] }}</div>
        <div>Etat : {{ calcul['etat'] }}</div><br>
    {% endfor %}
    <a href="http://localhost:5000/api/operations"> 
        <button>Voir tous les calculs effectués</button> 
    </a>
{% endblock %}

</html>

