<!DOCTYPE html>
<html>

{% block content %}
    <h1>{% block title %} Liste des calculs effectués {% endblock %}</h1>
    {% for calcul in calculs %}
        <div>ID : {{ calcul['id'] }}</div>
        <div>Calcul : {{ calcul['calcul'] }}</div>
        <div>Resultat : {{ calcul['resultat'] }}</div>
        <div>Etat : {{ calcul['etat'] }}</div>
        <hr>
    {% endfor %}
    <a href="http://localhost:5000/api/computations"> 
        <button>Revenir à la calculatrice</button> 
    </a>
{% endblock %}

</html>